body {
    background-image: url("Carsimage.jpeg");
    position: relative;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    color: rgb(207, 176, 85);
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    height: 100vh;
    padding: 29px;
    padding-bottom: 80px;
    border: rgb(72, 71, 27) solid 20px;
    max-height : 700px;

    
    
}
div {
    max-width: 500px;
    min-width: 150px;
    height: 450px;
    margin: 10px;
    padding: 30px;
    border:  solid  10px;
    background:rgb(77, 73, 51);
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#increment-btn {
    background: rgb(143, 128, 44);
}

#save-btn {
    background: rgb(20, 79, 73);
}

